@{
    ViewData["Title"] = "Agregar un Pedido";
}

<h1>@ViewData["Title"]</h1>

<div>
    @using(Html.BeginForm("CargaPedido", "Pedidos", FormMethod.Post))
    {
        <section class="form-group">
            <label for="Nombre">Nombre del cliente: </label>
            <input type="text" name="Nombre" class="form-control">
        </section>
        <section class="form-group">
            <label for="Telefono">Telefono del cliente: </label>
            <input type="phone" name="Telefono" class="form-control">
        </section>
        <section class="form-group">
            <label for="Direccion">Direccion del cliente: </label>
            <input type="text" name="Direccion" class="form-control">
        </section>
        <section class="form-group">
            <label for="Observacion">Observacion: </label>
            <input type="text" name="Observacion" class="form-control">
        </section>
        <section class="form-group">
            <label for="Estado">Estado: </label>
            <input type="text" name="Estado" class="form-control">
        </section>
        <section class="form-group">
            <label for="CadeteId">Id del cadete: </label>
            <input type="text" name="CadeteId" class="form-control">
        </section>
            <button type="submit" class="btn btn-primary">Enviar</button>
    }
</div>