@model List<Cadeteria.ViewModels.ClienteViewmodel>
@{
    ViewData["Title"] = "Listado de Clientes";
}

<div class="d-grid gap-3">
    <div class="row">
        <h1 class="text-center col">@ViewData["Title"]</h1>
    </div>
    <div class="row">
        <div class="col"></div>
        <section class="btn-group col">
                    <a href="AltaCliente" class="btn btn-primary btn-sm" style="background-color:#866BBF; border-color:#866BBF;">Agregar Cliente</a>
        </section>
        <div class="col"></div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover shadow p-3 mb-5 rounded">
            <thead class="table-dark text-center">
                <tr>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-striped text-center" >
                @foreach (var cliente in Model)
                {
                    <tr>
                        <td>@cliente.Nombre</td>
                        <td>@cliente.Telefono</td>
                        <td>@cliente.Direccion</td>
                        <td>
                            <div class="d-flex flex-row justify-content-evenly">
                                <form asp-action="Listado" asp-controller="Pedidos" method="get">
                                    <input type="hidden" name="idCliente" value=@cliente.Id >
                                    <input type="submit" value="Mostrar Pedidos" class="btn btn-primary text-dark" style="background-color:#A38BD9; border-color:#A38BD9">
                                </form>
                                <form asp-action="EditarCliente" asp-controller="Clientes" method="get">
                                    <input type="hidden" name="idCliente" value=@cliente.Id >
                                    <input type="submit" value="Editar" class="btn btn-warning text-dark" style="background-color:#C7B3F2; border-color:#C7B3F2">
                                </form>
                                <form asp-action="BajaCliente" asp-controller="Clientes" method="get">
                                    <input type="hidden" name="id" value=@cliente.Id >
                                    <input type="submit" value="Borrar" class="btn btn-dark text-dark" style="background-color:#D6C9F2; border-color:#D6C9F2">
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>