@model List<Cadeteria.ViewModels.ClienteViewmodel>
@{
    ViewData["Title"] = "Listado";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Direccion</th>
        </tr>
    </thead>
    <tbody class="table-striped" >
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.Nombre</td>
                <td>@cliente.Telefono</td>
                <td>@cliente.Direccion</td>
                <td>
                    <div class="btn-group">
                    @using(Html.BeginForm("EditarCliente", "Clientes", FormMethod.Get))
                    {
                        <input type="hidden" name="idCliente" value=@cliente.Id >
                        <input type="submit" value="Editar" class="btn btn-warning">
                    }
                    @using(Html.BeginForm("BorrarCliente", "Clientes", FormMethod.Get))
                    {
                        <input type="hidden" name="id" value=@cliente.Id >
                        <input type="submit" value="Borrar" class="btn btn-danger">
                    }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<section class="btn-group">
        <a href="AltaCliente" class="btn btn-primary btn-sm">Agregar Nuevo</a>
</section>