@{
    ViewData["Title"] = "Error De Base de Datos";
}

<meta http-equiv="refresh" content="3; URL=../Home/Index" />
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Hubo un problema inesperado con la base de datos</h2>

