@model Cadeteria.ViewModels.CadeteViewModel;
@{
    ViewData["Title"] = "EditarCadete";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form asp-action="EditarCadete" asp-controller="Cadetes" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <section class="form-group">
            <label for="Nombre">Nombre</label>
            <input type="text" name="Nombre" class="form-control" value="@Model.Nombre">
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </section>
        <section class="form-group">
            <label for="Telefono">Telefono</label>
            <input type="phone" name="Telefono" class="form-control" value="@Model.Telefono">
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </section>
        <section class="form-group">
            <label for="Direccion">Direccion</label>
            <input type="text" name="Direccion" class="form-control" value="@Model.Direccion">
            <span asp-validation-for="Direccion" class="text-danger"></span>
        </section>
        <input type="submit" value="Enviar" class="btn btn-primary">
    </form>
</div>