@{
    ViewData["Title"] = "AltaCadete";
}

<h1>@ViewData["Title"]</h1>

<div>
    @using(Html.BeginForm("Carga", "CadeteriaHub", FormMethod.Post))
    {
        <h3>Nombre: </h3>
        <input type="text" name="Nombre">
        <h3>Telefono: </h3>
        <input type="phone" name="Telefono">
        <h3>Direccion: </h3>
        <input type="text" name="Direccion">
        <input type="submit" value="Enviar" class="btn btn-primary">
    }
</div>