@{
    ViewData["Title"] = "Error De Permisos";
}

<meta http-equiv="refresh" content="3; URL=../Home/Index" />
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">No tiene permisos para acceder a esta pagina</h2>

