@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de gestion de cadetes y pedidos</h1>
    <section class="btn-group">
        <a href="CadeteriaHub/Listado" class="btn btn-primary btn-lg btn-block">Listado de Cadetes</a>
        <a href="CadeteriaHub/ListadoPedidos" class="btn btn-primary btn-lg btn-block">Listado de Pedidos</a>
    </section>
</div>
