@{
    ViewData["Title"] = "BIENVENIDO: ";
}

<<div class="d-grid gap-3">
    <div class="row">
        <h1 class="text-center col" style="color:#866BBF !important;">@ViewData["Title"]</h1>
        <h1 class="text-center">@Context.Session.GetString("Nombre")</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
        @{if(Context.Session.GetInt32("Rol") == 1)
        {
        <div class="col">
          <div class="card h-100 zoom colorAnimation">
            <a href="../Cadetes/Listado"><img src="https://t3.ftcdn.net/jpg/03/21/51/12/360_F_321511245_lVwfaaZdHxP8YGFZaqQ5PyXeiPx5zwtb.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">Listado de Cadetes</h5>
              <p class="card-text">En este apartado se pueden ver, agregar y modificar los Cadetes</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 zoom colorAnimation">
            <a href="../Clientes/Listado"><img src="https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YnVzaW5lc3NtYW58ZW58MHx8MHx8&w=1000&q=80" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">Listado de Clientes</h5>
              <p class="card-text">En este apartado se pueden ver, agregar y modificar los Clientes</p>
            </div>
          </div>
        </div>
        }}
        @{if (Context.Session.GetInt32("Rol") == 2)
        {
          <div class="col"></div>
        }}
        <div class="col">
          <div class="card h-100 zoom colorAnimation">
            <a href="../Pedidos/Listado"><img src="https://www.nationalmailboxes.com/wp-content/uploads/2022/06/maildrops.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">Listado de Pedidos</h5>
              <p class="card-text">En este apartado se pueden ver, agregar y modificar los Pedidos</p>
            </div>
          </div>
        </div>
        @{if (Context.Session.GetInt32("Rol") == 2)
        {
          <div class="col"></div>
        }}
      </div>
</div>
